* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared styles */
.flex {
  display: flex;
}

.burger{
  display: none;
}

.btn {
  color: white;
  font-weight: 600px;
  font-size: 16px;
  border-radius: 10000px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  padding: 10px 16px;
  border: none;
  margin-right: 8px;
}

.btn-two {
  color: #00ff88;
  border-radius: 10000px;
  border: 1px solid #00ff88;
  font-size: 16px;
  font-weight: 600px;
  padding: 10px 20px;
  background: transparent;
}

.all-button {
  list-style: none;
  justify-content: center;
  gap: 8px;
}

hr {
  border: none;
  height: 1px;
  background-color: #757575;
}

/* header styles */
header {
  background-color: #1a0b2e;
  padding-top: 16px;
  /* background: url(./img/hero-bg.png);
    background-repeat: no-repeat; */
  /* background-position: center; */
}
.hero-img {
  justify-content: center;
  list-style: none;
  margin-top: 100px;
  margin-bottom: 40px;
}

/* navbar related styles */
.header-section {
  border-bottom: 1px solid #412567;
  padding-bottom: 16px;
}

.navbar {
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav-menu {
  list-style: none;
  margin-right: 32px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: white;
}

/* banner section css */
.main-batch {
  position: relative;
}
.batch-shape {
  position: absolute;
  top: 0;
  right: -21px;
}


.banner-section {
  width: 100%;
  max-width: 550px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 101px;
  text-align: center;
  background: url(./img/hero-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-container {
  padding: 101px 625px 150px 625px;
  background: url(./img/hero-bg.png) center no-repeat;
  background-size: cover;
}

.mic {
  margin-left: -235px;
  margin-top: 80px;
}

.banner-img {
  margin: 0 auto 40px auto;
}
.banner-text {
  font-size: 3.75rem;
  color: white;
  text-align: center;
  /* margin-bottom: 8px; */
}
.banner-button {
  padding-bottom: 101px;
}

.banner-pera {
  font-size: 0.9375rem;
  color: white;
  padding-bottom: 24px;
  text-align: center;
}

/* main css */

.color {
  background-color: #1a0b2e;
}

.main-section {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

/* about section css */

  /* padding-top: 50px; */

.about-section h3 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

.p-1 {
  font-size: 0.9375rem;
  color: white;
  line-height: 20px;
}
.p-3 {
  font-size: 0.9375rem;
  color: white;
  line-height: 20px;
  margin-bottom: 20px;
}
.p-4 {
  font-size: 0.9375rem;
  color: white;
  line-height: 20px;
  margin-bottom: 50px;
}

/* number-section */
.number-section {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
  justify-content: space-between;
}
.card-header {
  font-size: 3rem;
  font-weight: 900px;
  color: #00ff88;
}

.info {
  font-size: 16px;
  color: white;
  line-height: 20px;
}
