* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.flare-fonts {
  font-optical-sizing: auto;
  font-family: "Inter", sans-serif;
  
}

/* styles started */

.hamburg{
  display: none;
}

.flex {
  display: flex;
}


.all-baton {
  list-style: none;
  justify-content: center;
  gap: 8px;
}

.bn {
  color: white;
  font-weight: 600px;
  font-size: 16px;
  padding: 10px 16px;
  border: none;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  margin-right: 8px;
  border-radius: 10000px;
}


.bn-two {
  border: 1px solid #00ff88;
  color: #00ff88;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 600px;
  background: transparent;
  border-radius: 10000px;
}


/* header-styles */
/* background: url(./img/hero-bg.png);
    background-repeat: no-repeat; */
header {
  background-color: #1a0b2e;
  padding-top: 16px;
  
  /* background-position: center; */
}

hr {
  border: none;
  height: 1px;
  background-color: #757575;
}

.hero-img {
  list-style: none;
  margin-top: 100px;
  justify-content: center;
  margin-bottom: 40px;
  
}

@keyframes upDown {
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); 
  }
  
}


/* navbar-styles */

.header-part {
  border-bottom: 1px solid #412567;
  padding-bottom: 16px;
}

.navbar {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}

.nav-menu {
  margin-right: 32px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 120%;
  
}

/* banner-section */

.batch-shape {
  position: absolute;
  top: 0;
  right: -21px;
}

.mic-batch {
  position: relative;
}

.banner-section {
  max-width: 550px;
  justify-content: center;
  background-position: center center;
  width: 100%;
  margin: 0 auto;
  background: url(./img/hero-bg.png);
  text-align: center;
  padding-top: 101px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mic {
  margin-top: 80px;
  margin-left: -235px;
  animation: upDown 1.8s ease-in-out infinite;
}


.banner-img {
  margin: 0 auto 40px auto;
}

.banner-container {
  background: url(./img/hero-bg.png) center no-repeat;
  padding: 101px 625px 150px 625px;
 background-size: cover;
}
.banner-tech {
  text-align: center;
  font-size: 3.75rem;
  color: white;
  
  /* margin-bottom: 8px; */
}

.banner-baton {
  padding-bottom: 101px;
}

.banner-para {
  color: white;
  padding-bottom: 24px;
  text-align: center;
  font-size: 0.9375rem;
}


/* main-part */



.main-section {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.color {
  background-color: #1a0b2e;
}

/* info-section  */


  .info-section h3 {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  margin-bottom: 16px;
}

/* padding-top: 50px; */

.p-a {
  line-height: 20px;
  font-size: 0.9375rem;
  color: white;
  
}
.p-c {
  font-size: 0.9375rem;
  margin-bottom: 20px;
  color: white;
  line-height: 20px;
 
}
.p-d {
  line-height: 20px;
  color: white;
  font-size: 0.9375rem;
  margin-bottom: 50px;
}
/* numb-part */
.numb-part {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
  justify-content: space-between;
}

.card-header {
  font-weight: 900px;
  color: #00ff88;
  font-size: 3rem;
}

.info {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

/* grid-sector */

#choose {
  background-color: #230e3d;
  /* max-width: 1200px; */
}
.headphone-img {
  justify-items: start;
  display: flex;
  margin-bottom: 16px;
  /* justify-content: start; */
  /* margin: 107px 285px 16px 40px; */
  /* align-items: start; */
}
.eco-img {
  display: flex;
  justify-items: start;
  margin-bottom: 16px;
  /* justify-content: start; */
  /* margin: 107px 285px 16px 40px; */
  /* align-items: start; */
}
.rich-resource {
  display: flex;
  justify-items: start;
  margin-bottom: 16px;
  /* justify-content: start; */
  /* margin: 107px 285px 16px 40px; */
  /* align-items: start; */
}

.grid-header {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 120px;
  color: white;
}

.grid-sector {
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  text-align: center;
}


.contain {
  display: grid;
  gap: 30px;
  max-width: 1200px;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 120px;
  /* margin-bottom: 120px; */
}

.semi-layout {
  grid-column: span 1;
  align-items: center;
  border-radius: 20px;
  background-color: #351165;
  grid-row: span 2;
  overflow: hidden;
  display: flex;
  padding: 40px 40px;
  
}
.layout-a {
  grid-column: span 2;
  border-radius: 20px;
  grid-row: span 1;
  background-color: #351165;
  padding: 40px 40px;
  
}
.layout-b {
  grid-column: span 1;
  background-color: #351165;
  grid-row: span 1;
  border-radius: 20px;
  padding: 40px 40px;
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

.grid-bold {
  font-size: 24px;
  text-align: start;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
  
}

.grid-para {
  text-align: start;
  font-size: 15px;
  line-height: 24px;
  color: white;
  font-weight: 300px;
  
  /* font-weight: bold; */
}

.iframe {
  border-radius: 15px 15px 0px 0px;
}

/* episode-section */

#episode-section {
  justify-content: center;
  width: 1200px;
  padding-bottom: 120px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

.episode {
  padding-bottom: 40px;
  margin: 0 auto;
  justify-content: center;
  width: 1200px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 48px;
  padding-top: 120px;
  
}

.episode-point {
  border-radius: 15px;
  background-color: #250d44;
}
.episode-title {
    font-weight: bold;
    font-size: 24px;
    padding: 24px 24px 12px 24px;
    line-height: 36px;
    color: white;
}
.episode-info {
  font-weight: 400;
  padding: 0px 24px 12px 24px;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.clock-logo {
  align-items: center;
  gap: 6px;
  display: flex;
  padding: 12px 24px 24px 24px;
}

.size {
 height: 20px;
  width: 20px;
  /* padding: 12px 24px 24px 24px; */
}
.video-time {
  font-weight: 600px;
  font-size: 16px;
  line-height: 24px;
  color: #00ff88;
}

.alex {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  padding-bottom: 40px;
  font-weight: bold;
}
#container-two {
  margin: 0 auto;
  width: 1200px;
  background-color: #250d44;
  align-items: center;
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
  border-radius: 40px;
}

.alex-icon {
  align-items: center;
  display: flex;
  gap: 10px;
  /* justify-items: center; */
}

.alex-img {
  margin-top: 24px;
  width: 200px;
  margin-left: 24px;
   margin-bottom: 24px;
}

.img-icon {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
}

.alex-section {
  padding: 48.5px 0px 48.5px 0px;
  width: 896px;
}

.alex-heading {
  font-weight: bold;
  color: white;
  font-size: 32px;
  margin-bottom: 16px;
}

.alex-des {
  font-weight: 200;
  margin-bottom: 16px;
  font-size: 16px;
  color: white;
  /* line-height: 24px; */
}

#footer {
  display: flex;
  padding: 120px 0px 120px 0px;
  background: url(./img/footer-bg.png);
  background-position: center center;
}

.footer-first {
  overflow: hidden;
  margin: 0 auto;
  justify-content: center;
  width: 1360px;
  text-align: center;
  
}

.logo-img-footer {
  margin-bottom: 32px;
  display: flex;
  width: 410px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}

.social-icon {
  display: flex;
  width: 544px;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.icon-pack {
  gap: 5px;
  align-items: center;
  display: flex;
}

.img {
  height: 20px;
  width: 20px;
}

.write {
  color: white;
  font-weight: 400px;
  font-size: 16px;
  align-items: center;
  
}

.p {
  line-height: 24px;
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  /* navbar_section */
  .navbar {
    padding: 10px;
    align-items: center;
    flex-direction: row;
  }
.nav-links, 
.baton {
  display: none;
}

.hamburg{
  margin-left: 100px;
  display: initial;
  visibility: visible;
  

}
.banner-container{
  padding: 50px;
}

.hero-img{
  margin-top: 50px;
}

.info-section h3{   
font-size: 2.2rem;
}
.numb-part{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 400px;
  justify-content: center;
  gap: 32px;
  padding: 40px 16px 60px;
  
}
.card-header{
  font-size: 2.2rem;
}
.info{
  font-size: 14px;
}
/* section */
.contain{
  grid-template-areas: 
  "semi-layout"
  "layout-a"
  "layout-b"
  
}

.contain{
  margin-top: 60px;
}
.styling{
  margin-top: 0;
}

.contain{
  max-width: 400px;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  margin: 20px;
  justify-content: center;
  
}


.grid-header{
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 50px;
  text-align: center;
  
}
.grid-sector{
  padding-bottom: 70px;
}

#episode-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 400px;
  justify-content: center;
  margin: 20px; 
  /* margin-top: 60px; */
}

.episode{
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 30px;
}

.iframe{
  width: 100%;
}
/* alex section */

#container-two{
  display: flex;
  max-width: 400px;
  justify-content: center;
  flex-direction: column;
  margin: 20px; 
  overflow: hidden;
  /* margin: 0 auto; */
  /* grid-template-columns: repeat(1, 1fr); */
}
.alex-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
  
}

.alex-des{
  display: flex;
  justify-content: center;
  max-width: 400px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 8px;
   font-weight: 300px;
}

.icon{
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  align-items: center;
  line-height: 24px;
  font-weight: 300px;
  color: white;
  margin-bottom: 8px;

}

.alex{
   margin: 0 auto;
  justify-content: center;
  width: 400px;
  text-align: center;
  font-size: 48px;
  padding-bottom: 40px;
  font-weight: bold;
  color: white;
  
}

#footer-first{
  overflow: hidden;
  /* margin-bottom: 0px; */
}

.logo-img-footer {
  display: flex;
  width: 219px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
  justify-content: center;
}
.social-icon{
  width: 255px;
  /* display: flex;
  flex-direction: column; */
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 20px;
  margin-bottom: 32px;

}

.write{
  font-weight: 400px;
   font-size: 11px;
  align-items: center;
  color: white;

}
#footer {
  padding: 50px 0px 50px 0px;
  background: url(./img/footer-bg.png);
  display: flex;
  background-position: center center;
  
}

.semi-layout{
  overflow: hidden;
}
.alex-des{
  overflow: hidden;
}

}