* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared styles */
.flex {
  display: flex;
}

.burger{
  display: none;
}

.btn {
  color: white;
  font-weight: 600px;
  font-size: 16px;
  border-radius: 10000px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  padding: 10px 16px;
  border: none;
  margin-right: 8px;
}

.btn-two {
  color: #00ff88;
  border-radius: 10000px;
  border: 1px solid #00ff88;
  font-size: 16px;
  font-weight: 600px;
  padding: 10px 20px;
  background: transparent;
}

.all-button {
  list-style: none;
  justify-content: center;
  gap: 8px;
}

hr {
  border: none;
  height: 1px;
  background-color: #757575;
}

/* header styles */
header {
  background-color: #1a0b2e;
  padding-top: 16px;
  /* background: url(./img/hero-bg.png);
    background-repeat: no-repeat; */
  /* background-position: center; */
}
.hero-img {
  justify-content: center;
  list-style: none;
  margin-top: 100px;
  margin-bottom: 40px;
}

/* navbar related styles */
.header-section {
  border-bottom: 1px solid #412567;
  padding-bottom: 16px;
}

.navbar {
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav-menu {
  list-style: none;
  margin-right: 32px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: white;
}

/* banner section css */
.main-batch {
  position: relative;
}
.batch-shape {
  position: absolute;
  top: 0;
  right: -21px;
}
