* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flare-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared styles */
.flex {
  display: flex;
}

.hambug{
  display: none;
}

.bn {
  color: white;
  font-weight: 600px;
  font-size: 16px;
  border-radius: 10000px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  padding: 10px 16px;
  border: none;
  margin-right: 8px;
}

.bn-two {
  color: #00ff88;
  border-radius: 10000px;
  border: 1px solid #00ff88;
  font-size: 16px;
  font-weight: 600px;
  padding: 10px 20px;
  background: transparent;
}

.all-buton {
  list-style: none;
  justify-content: center;
  gap: 8px;
}

hr {
  border: none;
  height: 1px;
  background-color: #757575;
}

/* header styles */
header {
  background-color: #1a0b2e;
  padding-top: 16px;
  /* background: url(./img/hero-bg.png);
    background-repeat: no-repeat; */
  /* background-position: center; */
}
.hero-img {
  justify-content: center;
  list-style: none;
  margin-top: 100px;
  margin-bottom: 40px;
  
}

@keyframes upDown {
  50% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); 
  }
  100% {
    transform: translateX(0);
  }
}


/* navbar related styles */
.header-part {
  border-bottom: 1px solid #412567;
  padding-bottom: 16px;
}

.navbar {
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav-menu {
  list-style: none;
  margin-right: 32px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: white;
}

/* banner section css */
.mic-batch {
  position: relative;
}
.batch-shape {
  position: absolute;
  top: 0;
  right: -21px;
}

.banner-section {
  width: 100%;
  max-width: 550px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 101px;
  text-align: center;
  background: url(./img/hero-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-container {
  padding: 101px 625px 150px 625px;
  background: url(./img/hero-bg.png) center no-repeat;
  background-size: cover;
}

.mic {
  margin-left: -235px;
  margin-top: 80px;
  animation: upDown 1.7s ease-in-out infinite;
}

.banner-img {
  margin: 0 auto 40px auto;
}
.banner-tech {
  font-size: 3.75rem;
  color: white;
  text-align: center;
  /* margin-bottom: 8px; */
}
.banner-buton {
  padding-bottom: 101px;
}

.banner-parag {
  font-size: 0.9375rem;
  color: white;
  padding-bottom: 24px;
  text-align: center;
}

/* main css */

.color {
  background-color: #1a0b2e;
}

.main-section {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

/* about section css */


  /* padding-top: 50px; */


.info-section h3 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

.p-a {
  font-size: 0.9375rem;
  color: white;
  line-height: 20px;
}
.p-c {
  font-size: 0.9375rem;
  color: white;
  line-height: 20px;
  margin-bottom: 20px;
}
.p-d {
  font-size: 0.9375rem;
  color: white;
  line-height: 20px;
  margin-bottom: 50px;
}
/* numb-part */
.numb-part {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
  justify-content: space-between;
}
.card-header {
  font-size: 3rem;
  font-weight: 900px;
  color: #00ff88;
}

.info {
  font-size: 16px;
  color: white;
  line-height: 20px;
}

/* grid-sector */

#choose {
  background-color: #230e3d;
  /* max-width: 1200px; */
}
.yarbud-img {
  display: flex;
  justify-items: start;
  margin-bottom: 16px;
  /* margin: 107px 285px 16px 40px; */
  /* justify-content: start; */
  /* align-items: start; */
}
.eco-img {
  display: flex;
  justify-items: start;
  margin-bottom: 16px;
  /* margin: 107px 285px 16px 40px; */
  /* justify-content: start; */
  /* align-items: start; */
}
.rich-resource {
  display: flex;
  justify-items: start;
  margin-bottom: 16px;
  /* margin: 107px 285px 16px 40px; */
  /* justify-content: start; */
  /* align-items: start; */
}

.grid-sector {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.grid-header {
  padding-top: 120px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.contain {
  max-width: 1200px;
  display: grid;
  gap: 30px;
  margin-top: 40px;
  /* margin-bottom: 120px; */
  padding-bottom: 120px;
  grid-template-columns: repeat(3, 1fr);
}

.semi-layout {
  background-color: #351165;
  grid-column: span 1;
  grid-row: span 2;
  padding: 40px 40px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.layout-a {
  background-color: #351165;
  grid-column: span 2;
  grid-row: span 1;
  padding: 40px 40px;
  border-radius: 20px;
}
.layout-b {
  background-color: #351165;
  grid-column: span 1;
  grid-row: span 1;
  padding: 40px 40px;
  border-radius: 20px;
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

.grid-bold {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: start;
}

.grid-parag {
  color: white;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300px;
  text-align: start;
  /* font-weight: bold; */
}

.iframe {
  border-radius: 15px 15px 0px 0px;
}

/* episode-section */

#episode-section {
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  gap: 30px;
  padding-bottom: 120px;
}
.episode {
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding-top: 120px;
  padding-bottom: 40px;
}

.episode-point {
  background-color: #250d44;
  border-radius: 15px;
}
.episode-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 24px 24px 12px 24px;
    line-height: 36px;
}
.episode-info {
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 0px 24px 12px 24px;
  line-height: 24px;
}

.clock-logo {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 24px 24px 24px;
}

.size {
  width: 20px;
  height: 20px;
  /* padding: 12px 24px 24px 24px; */
}
.video-time {
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  color: #00ff88;
}

.alex {
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding-bottom: 40px;
}
#container-two {
  width: 1200px;
  margin: 0 auto;
  background-color: #250d44;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 40px;
  margin-bottom: 120px;
}

.alex-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-items: center; */
}

.alex-img {
  width: 200px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.img-icon {
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

.alex-section {
  width: 896px;
  padding: 48.5px 0px 48.5px 0px;
}

.alex-heading {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

.alex-des {
  font-size: 16px;
  font-weight: 200;
  /* line-height: 24px; */
  margin-bottom: 16px;
  color: white;
}

#footer {
  display: flex;
  background: url(./img/footer-bg.png);
  background-position: center center;
  padding: 120px 0px 120px 0px;
}

.footer-first {
  width: 1360px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.logo-img-footer {
  width: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.social-icon {
  width: 544px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 40px;
  margin-bottom: 32px;
}

.icon-pack {
  display: flex;
  gap: 5px;
  align-items: center;
}

.img {
  width: 20px;
  height: 20px;
}

.write {
  font-size: 16px;
  font-weight: 400px;
  align-items: center;
  color: white;
}

.p {
  font-size: 16px;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 576px) {
  /* navbar_section */
  .navbar {
    flex-direction: row;
    padding: 10px;
    align-items: center;
  }
.nav-links, 
.buton {
  display: none;
}

.hambug{
  display: initial;
  visibility: visible;
  margin-left: 100px;

}
.banner-container{
  padding: 50px;
}

.hero-img{
  margin-top: 50px;
}

.info-section h3{   
font-size: 2.2rem;
}
.numb-part{
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 40px 16px 60px;
  gap: 32px;
}
.card-header{
  font-size: 2.2rem;
}
.info{
  font-size: 14px;
}
/* why section */
.contain{
  grid-template-areas: 
  "semi-layout"
  "layout-a"
  "layout-b"
  
}
.styling{
  margin-top: 0;
}

.contain{
  margin-top: 60px;
}

.contain{
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  margin: 20px;
  
}


.grid-header{
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.grid-sector{
  padding-bottom: 70px;
}

#episode-section{
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  margin: 20px; 
  /* margin-top: 60px; */
}

.episode{
  max-width: 400px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.iframe{
  width: 100%;
}
/* alex section */

#container-two{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px; 
  overflow: hidden;
  /* margin: 0 auto; */
  /* grid-template-columns: repeat(1, 1fr); */
}
.alex-heading{
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
}

.alex-des{
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300px;
  color: white;
  margin-bottom: 8px;
}

.icon{
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300px;
  color: white;
  margin-bottom: 8px;

}

.alex{
   width: 400px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding-bottom: 40px;
}

#footer-first{
  overflow: hidden;
  /* margin-bottom: 0px; */
}

.logo-img-footer {
  width: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.social-icon{
  width: 255px;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
  margin-bottom: 32px;

}
.write{
  font-size: 11px;
  font-weight: 400px;
  align-items: center;
  color: white;

}
#footer {
  display: flex;
  background: url(./img/footer-bg.png);
  background-position: center center;
  padding: 50px 0px 50px 0px;
}
.semi-layout{
  overflow: hidden;
}
.alex-des{
  overflow: hidden;
}

}